.white-btn {
  background-color: var(--white-color);
  color: var(--black-color);
}

.black-btn {
  background-color: var(--black-color);
  color: var(--white-color);
}

.btn {
  margin-right: 12px;
  border-radius: 9999px;
  cursor: pointer;
  border: 2px solid transparent;
}

.large-btn {
  width: 157px;
  height: 32px;
  font-weight: 600;
  &:hover {
    transform: scale(1.02);
  }
}

.small-btn {
  width: 64px;
  height: 32px;
}
