@import 'src/components/GlobalStyles/_variable.scss';

.wrapp {
  height: 540px;
  width: 420px;
  background-color: #121212;
  margin: 4px 6px 0 6px;
  border-radius: 8px;
}

.library-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #121212;
}

.library-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: $icon-color;
  font-size: 1.8rem;
  cursor: pointer;
  white-space: nowrap;
  min-width: 105px;
  svg {
    margin-right: 6px;
  }
}

.create-playlist-btn {
  color: $icon-color;
  cursor: pointer;
  font-size: 2rem;
}

.content {
  padding: 0 8px 8px;
}
